@import "tailwindcss";

html,
body {
  font-family: "Roboto", sans-serif;
}

.top-nav-link.active {
  background-color: rgba(255,255,255,.1);
}
.top-nav-link {
  color: rgb(255, 255, 255);
  font-weight: 300;
}
.navbar {
  transition: all 0.3s ease;
  background-color: rgba(0, 0, 0, 0.2); /* translucent by default */
  padding: 1rem 1rem; /* expanded */
  backdrop-filter: blur(6px); /* optional, glass-like */
}
.navbar.scrolled {
  background-color: rgba(28, 35, 49, 0.95); /* solid when scrolled */
  padding: 0.5rem 1rem; /* shrinks */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* subtle shadow */
}

.btn {
  margin: .375rem;
}

.btn-outline-light {
  color: #fff;
  border: 2px solid #fff !important;
  background-color: transparent;
  transition: all 0.3s ease;
  padding: .84rem 2.14rem !important;
  border-radius: .125rem;
  font-size: .81rem;
}
.btn-outline-light:hover,
.btn-outline-light:focus {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}

footer.page-footer .footer-copyright {
  overflow: hidden;
  color: hsla(0,0%,100%,.6);
  background-color: rgba(0,0,0,.2);
}

footer.page-footer a {
  color: #fff;
}

a, a:hover {
  text-decoration: none;
  transition: all .2s ease-in-out;
}

body, h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

.font-small {
  font-size: .9rem;
}

@keyframes swing-soft {
  20% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(-3deg);
  }
  60% {
    transform: rotate(2deg);
  }
  80% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.animate__swing-soft {
  animation-name: swing-soft;
  animation-duration: 1s;
  animation-fill-mode: both;
  transform-origin: top center;
}
