@import "tailwindcss";

html,
body {
  font-family: "Roboto", sans-serif;
}

/* allows using md bootstrap's navbar color */
.top-nav-link.active {
  background-color: rgba(255,255,255,.1) !important;
}

a, a:hover {
    text-decoration: none;
    transition: all .2s ease-in-out;
}
