@import "tailwindcss";

html,
body {
  font-family: "Roboto", sans-serif;
}

/* allows using md bootstrap's navbar color */
.top-nav-link.active {
  background-color: rgba(255,255,255,.1);
}
.top-nav-link {
  color: rgb(255, 255, 255);
}
